.pt-5rem {
  padding-top: 5rem;
}

.pt-20px {
  padding-top: 1.25rem !important;
}

.pb-12px {
  padding-bottom: 0.75rem !important;
}

.pb-2rem {
  padding-bottom: 2rem;
}

.pb-5rem {
  padding-bottom: 5rem;
}

.ps-20px {
  padding-left: 1.25rem;
}

.pe-72px {
  padding-right: 4.5rem;
}

.px-24px {
  padding-right: 24px;
  padding-left: 24px;
}

.mt-3rem {
  margin-top: 3rem;
}

.mt-44px {
  margin-top: 2.75rem;
}

.mb-4rem {
  margin-bottom: 4rem;
}

.mb-96px {
  margin-bottom: 0.6rem;
}

.font-family-display {
  font-family: var(--font-family-display);
}

.fs-8px {
  font-size: 0.5rem;
}

.fs-12px {
  font-size: 0.75rem;
}

.fs-3rem {
  font-size: 3rem;
}

.ln-13 {
  line-height: 1.3333;
}

.text-dark {
  color: var(--text-dark-color);
}

.text-gray {
  color: var(--text-gray-color);
}

.bg-linear-purle-white {
  background: var(--linear-gradient-purple-white);
}

.bg-linear-blue-white {
  background: var(--linear-gradient-blue-white);
}

.bg-dark {
  background-color: var(--bg-dark-color) !important;
}

.bg-light {
  background-color: var(--bg-light-color);
}

.bg-blue {
  background-color: var(--bg-blue-color) !important;
}

.bg-header {
  background-color: transparent;
  -webkit-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.bg-header:hover {
  background-color: var(--bg-light-color);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.bg-header--scrolling {
  background-color: var(--bg-light-color);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.bg-footer-link {
  background-color: transparent;
  transition: background-color 300ms linear;
}

.bg-footer-link:hover {
  background-color: var(--bg-blue-2-color);
}

.border-light {
  border-color: var(--text-light-color) !important;
}

.border-dark {
  border-color: rgb(9, 30, 66);
}

.border-gray {
  border: 1px solid var(--border-gray-color);
}

.border-gray-1 {
  border-top: 1px solid var(--border-gray-1-color) !important;
}

.border-blue-2 {
  border-color: var(--border-blue-color) !important;
}

.h-60 {
  height: 60%;
}

.h-3px {
  height: 3px;
}

.h-24px {
  height: 1.5rem;
}

.h-70px {
  height: 70px;
}

.w-60 {
  width: 60%;
}

.w-24px {
  width: 1.5rem;
}

.w-56px {
  width: 3.5rem;
}

.w-72px {
  width: 4.5rem;
}

.w-271px {
  width: 271px;
}

.max-w-22rem {
  max-width: 22rem;
}

.max-w-1320px {
  max-width: 1320px;
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.img--max-w-125px {
  max-width: 125px;
}

.gap-2rem {
  gap: 2rem;
}

.trasition-ease {
  -webkit-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}

.rotate-0deg {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

@media (min-width: 992px) {
  .h-lg-60px {
    height: 60px;
  }

  .fs-lg-3rem {
    font-size: 3rem;
  }

  .fs-lg-12px {
    font-size: 0.75rem !important;
  }

  .border-lg-0 {
    border: 0 !important;
  }

  .border-lg-gray-1 {
    border-color: var(--border-gray-1-color);
  }

  .w-lg-100 {
    width: 100% !important;
  }
}
